/* ================== media queries ==================== */
@media screen and (max-width: 1200px) and  {

   .instant-book{ width: 86%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   }
}

/* @media screen  (max-width: 1024px) and (min-width: 800px) {
    
    .instant{
        width: 100%;
        height: 100vh;
    }
    .instant-book{
        background-color: yellow;
        grid-template-columns: 1fr;
        width: 100%;
        height: 80vh;

    }
    .instant-book .location{
        width: 89%;
        text-align: center;
        margin: 0 auto;
        margin-top: 1.2rem;
    }
    .instant-book .date{
        width: 89%;
        text-align: center;
        margin: 0 auto;
    }

} */
 
@media only screen and (max-width: 1204px) {
    .instant {
        background-color: blue;
        /* grid-template-columns: 1fr;*/
         width: 100%; 
        /* height: 20vh;  */
        scale: 1;

    }

    .instant-book {
        gap: 0.9rem;

    }


}





/* ================== media queries ==================== */
/* @media screen and (max-width: 768px) { */
    @media only screen and (max-width: 1024px) and (min-width: 768px) {

    .instant{
        width: 100%;
        height: 100vh;
    }
    .instant-book{
        background-color: yellow;
        grid-template-columns: 1fr;
        width: 100%;
        height: 80vh;

    }
    .instant-book .location{
        width: 89%;
        text-align: center;
        margin: 0 auto;
        margin-top: 1.2rem;
    }
    .instant-book .date{
        width: 89%;
        text-align: center;
        margin: 0 auto;
    }

}

@media only screen and (max-width : 768px ) {
    aside{
        display: none;
    }
    .aside{
        display: block;
        background-color: var(--color-dark);
        width: 8rem;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        color: white;
    }

    .aside .top{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.4rem ;
        padding: 0.6rem 0.7rem;

    }

    .aside .top .logo{
        display: flex;
        gap: 0.8rem;

    }
    
    .aside .close {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0.2rem 1.2rem;
        font-size: 1.8rem;
        color: var(--color-white);
    }

    .aside .sidebar h3{
        display: none;
    }

    .aside .sidebar {
        display: flex;
        flex-direction: column;
        height: 86vh;
        position: relative;
        top: 3rem;
    }
    

    
    .aside .sidebar a {
        display: flex;
        color: var(--color-light);
        align-items: center;
        justify-content: center;
        height: 3.7rem;
        transition: ease all 300ms;
        text-decoration: none;
        list-style: none;
        /* margin-left: -0.8rem; */
        padding: 0.2rem 0.1rem;
        
    }
    
    .aside .sidebar a span{
        font-size: 1.5rem;
        transition: all ease 300ms;
    }
    .aside .sidebar a:last-child{
        position: absolute;
        right: 0;
        bottom: 2.5rem;
        width: 96%;
        /* margin-left: 1rem; */
        color: var(--color-white);
        background-color: var(--primary-color);
        padding: 0.2rem 1.2rem;
    
    }
    
    .aside .sidebar a:last-child span{
        color:var(--color-white);
    
    }
    
    .aside .sidebar a.active{
        background-color: var(--color-light);                                                                                                                                               
        color: var(--color-default-green-dark);
        margin-left: 0;
    }



    .instant{
        width: 100%;
        height: 100vh;
    }
    .instant-book{
        background-color: green;
        grid-template-columns: 1fr;
        width: 100%;
        height: 80vh;

    }
    .instant-book .location{
        width: 89%;
        text-align: center;
        margin: 0 auto;
        margin-top: 1.2rem;
    }
    .instant-book .date{
        width: 89%;
        text-align: center;
        margin: 0 auto;
    }
}




/* ================== media queries ==================== */
@media screen and (max-width: 360px) {
    .instant-book{
        /* background-color: brown; */
         width: 96%;
        display: grid;
        grid-template-columns: 1fr;
       }

       .instant-book .location{
        width: 89%;
        text-align: center;
        margin: 0 auto;
        margin-top: 0.9rem;
    }
    .instant-book .date{
        width: 89%;
        text-align: center;
        margin: 0 auto;
    }


}